.modal-header {
  flex-direction: column;
  align-items: stretch;
}

/* Background Image */
body::after {
  content: "";
  background: url("../media/images/philippine-eagle_1200x600.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
