<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #e3f2fd"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="../media/images/logo/upec.ico"
        alt=""
        width="30"
        height="30"
        class="d-inline-block align-text-top"
      />
      United Professionals Eagles Club
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="#"
            id="nav-link-home"
            >Home</a
          >
        </li>
        <li class="nav-item" id="nav-link-about">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-link-news" href="#">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nav-link-resources" href="#">Resources</a>
        </li>
        <li class="nav-item dropdown" id="nav-link-myaccount">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarScrollingDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Log-In/Sign-Up
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li>
              <a class="dropdown-item" href="#" id="dropdown-login">Log-In</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" id="dropdown-signup">Sign-Up</a>
            </li>

            <!-- 
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Apply</a></li> 
            -->
          </ul>
        </li>
        <li class="nav-item dropdown is-hidden" id="nav-link-useraccount">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarScrollingDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            My Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li>
              <a class="dropdown-item" href="#" id="dropdown-account-name"
                >Hi</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#" id="dropdown-account-details"
                >Account Details</a
              >
            </li>

            <li>
              <a class="dropdown-item" href="#" id="dropdown-reset-password"
                >Reset Password</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#" id="dropdown-logout">Log-Out</a>
            </li>

            <!-- 
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Apply</a></li> 
            -->
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a
            class="nav-link disabled"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            >Link</a
          >
        </li> -->
      </ul>
      <!-- <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
